<h3 style="color: blue;">Post a Message</h3>

<%= render 'form' %>

<p>
    <%= link_to 'Return to posts', messages_path, class: 'button' %>
    <%= link_to 'Back to Home', root_path, class: 'button' %>
</p>