<!DOCTYPE html>
<html>
<head>
  <title>Datatables</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css"/>
  <script src="/datatables.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
